<?xml version="1.0" encoding="UTF-8"?>
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">
<role rolename="admin-gui,admin-script,manager-gui,manager-status,manager-script"/>
<user username="{{username}}" password="1212" roles="admin-gui,admin-script,manager-gui,manager-status,manager-script"/>
<user username="lexx" password="123456" roles="admin-gui,admin-script,manager-gui,manager-status,manager-script"/>
</tomcat-users>
